<h2 mat-dialog-title *ngIf="!buildingId">Agregar edificio</h2>
<h2 mat-dialog-title *ngIf="buildingId">Editar edificio</h2>
<form [formGroup]="buildingFG" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Descripción" formControlName="description">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Cantidad de viviendas" formControlName="numberOfHomes">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <a *ngIf="buildingId" mat-button routerLink="/buildings">Cancelar</a>
        <a *ngIf="!buildingId" mat-button mat-dialog-close>Cancelar</a>
        <button type="subtmit" mat-button [mat-dialog-close]="true" cdkFocusInitial>Agregar</button>
    </mat-dialog-actions>
</form>