<h2 mat-dialog-title *ngIf="!newsId">Agregar noticia</h2>
<h2 mat-dialog-title *ngIf="newsId">Editar noticia</h2>
<form [formGroup]="newFG" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Titulo" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Descripcion" formControlName="description">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="Dia" formControlName="date" >
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="text-align: right;">
        <a *ngIf="newsId" mat-button routerLink="/news">Cancelar</a>
        <a *ngIf="!newsId" mat-button mat-dialog-close>Cancelar</a>
        <button type="submit" mat-button [mat-dialog-close]="true">Agregar</button>
    </mat-dialog-actions>
</form>