<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false">
		<mat-toolbar>Juan de Aliaga</mat-toolbar>
		<mat-nav-list>
			<!-- <a mat-list-item routerLink="/" *ngIf="user.role == userRole.ADMINISTRATOR">
				<mat-icon aria-hidden="false">dashboard</mat-icon>
				<span style="margin-left: 5px;">Inicio</span>
			</a> -->
			<a mat-list-item routerLink="/users" *ngIf="user.role == userRole.ADMINISTRATOR">
				<mat-icon aria-hidden="false">people</mat-icon>
				<span style="margin-left: 5px;">Usuarios</span>
			</a>
			<a mat-list-item routerLink="/bills" *ngIf="user.role == userRole.ADMINISTRATOR">
				<mat-icon aria-hidden="false">list_alt</mat-icon>
				<span style="margin-left: 5px;">Cuentas</span>
			</a>
			<a mat-list-item routerLink="/payments">
				<mat-icon aria-hidden="false">attach_money</mat-icon>
				<span style="margin-left: 5px;">Pagos</span>
			</a>
			<!-- <a mat-list-item routerLink="/polls">
				<mat-icon aria-hidden="false">poll</mat-icon>
				<span style="margin-left: 5px;">Encuestas</span>
			</a> -->
			<a mat-list-item routerLink="/buildings" *ngIf="user.role == userRole.ADMINISTRATOR">
				<mat-icon aria-hidden="false" aria-label="Example poll icon">apartment</mat-icon>
				<span style="margin-left: 5px;">Edificios</span>
			</a>
			<a mat-list-item (click)="logout()">
				<mat-icon aria-hidden="false" aria-label="Example chevron_left icon">chevron_left</mat-icon>
				<span style="margin-left: 5px;">Cerrar Sesión</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>Neighlink</span>
		</mat-toolbar>
		<div style="padding: 20px;min-height: 80vh;">
			<router-outlet style="width: 90%;margin: auto;"></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
