<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false">
		<mat-toolbar>Juan de Aliaga</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="/" *ngIf="user.roleId != userRole.OWNER">Dashboard</a>
			<a mat-list-item routerLink="/users" *ngIf="user.roleId != userRole.OWNER">Usuarios</a>
			<a mat-list-item routerLink="/bills" *ngIf="user.roleId != userRole.OWNER">Cuentas</a>
			<a mat-list-item routerLink="/payments">Pagos</a>
			<a mat-list-item routerLink="/polls">Encuestas</a>
			<button mat-list-item (click)="logout()">Cerrar Sesión</button>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>Neighlink</span>
		</mat-toolbar>
		<div style="padding: 20px;min-height: 80vh;">
			<router-outlet style="width: 90%;margin: auto;"></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
