<h2 mat-dialog-title *ngIf="!billId">Agregar cuenta</h2>
<h2 mat-dialog-title *ngIf="billId">Editar cuenta</h2>
<form [formGroup]="billFG" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Título" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Edificio" formControlName="buildingId">
                    <mat-option value="1">Los jazmines</mat-option>
                    <mat-option value="2">Los girasoles</mat-option>
                    <mat-option value="3">Las flores</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo" formControlName="categoryId">
                    <mat-option value="1">Luz</mat-option>
                    <mat-option value="2">Agua</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Fecha de fin" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Monto" formControlName="amount">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <a *ngIf="billId" mat-button routerLink="/bills">Cancelar</a>
        <a *ngIf="!billId" mat-button mat-dialog-close>Cancelar</a>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Agregar</button>
    </mat-dialog-actions>
</form>