<h2 mat-dialog-title *ngIf="!userId">Agregar usuario</h2>
<h2 mat-dialog-title *ngIf="userId">Editar usuario</h2>
<form [formGroup]="userFG" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Nombres" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Apellidos" formControlName="lastName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Correo" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña" formControlName="password">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Edificio" formControlName="buildingId">
                    <mat-option value="1">Los jazmines</mat-option>
                    <mat-option value="2">Los girasoles</mat-option>
                    <mat-option value="3">Las flores</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Rol" formControlName="roleId">
                    <mat-option value="1">Propietario</mat-option>
                    <mat-option value="2">Administrador</mat-option>
                    <mat-option value="2">Presidente</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="text-align: right;">
        <a *ngIf="userId" mat-button routerLink="/users">Cancelar</a>
        <a *ngIf="!userId" mat-button mat-dialog-close>Cancelar</a>
        <button type="button" mat-button [mat-dialog-close]="true">Agregar</button>
    </mat-dialog-actions>
</form>