<form [formGroup]="loginFG" (ngSubmit)="onLogin()">
    <div class="example-container">
        <mat-form-field style="width: 100%;">
            <input matInput type="number" placeholder="Código" formControlName="condominiumId">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Correo Electrónico" formControlName="email">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <input matInput type="password" placeholder="Contraseña" formControlName="password">
        </mat-form-field>
        <div>
            <button type="submit" mat-raised-button color="primary" style="width: 100%;">Iniciar Sesión</button>
        </div>
    </div>
</form>